In [162]:
import pandas as pd

In [163]:
df = pd.read_csv('/Users/surendra/Desktop/df2.csv', encoding='utf-8')

In [164]:
del df['Unnamed: 0']

In [165]:
del df['Unnamed: 0.1']

In [166]:
df.head()

     bathrooms    bedrooms   latitude  longitude   price
0   1 Bathroom   1 Bedroom  12.848714  77.686891    6000
1  2 Bathrooms  2 Bedrooms  12.900608  77.481984  12,000
2  2 Bathrooms  3 Bedrooms  13.028963  77.683051  16,000
3  2 Bathrooms  3 Bedrooms  12.890710  77.617402  18,000
4  3 Bathrooms  3 Bedrooms  13.085289  77.644601  28,000

In [167]:
df.dropna(inplace=True)
df.query('price != "Rent on Request"', inplace=True)

In [168]:
df[pd.isnull(df).any(axis=1)]

Empty DataFrame
Columns: [bathrooms, bedrooms, latitude, longitude, price]
Index: []

In [169]:
is_studio = df.bedrooms.str.contains("Room")
is_lac = df.price.str.contains("Lac")
is_cm = df.price.str.contains(",")

In [170]:
df.loc[is_studio, 'bedrooms'] = '0 Bedrooms'

In [171]:
df.bedrooms = df.bedrooms.str.extract("(\\d+)").astype(float)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [172]:
df.loc[is_lac, 'price'] = df.loc[is_lac, 'price'].str.extract("(\\d+\\.?\\d*)").astype("float") * 1e5

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [153]:
del df['bathrooms']

In [173]:
df.loc[is_cm, 'price'] = df.loc[is_cm, 'price'].str.replace(',', '').astype("float")

In [174]:
df

         bathrooms  bedrooms   latitude  longitude   price
0       1 Bathroom       1.0  12.848714  77.686891    6000
1      2 Bathrooms       2.0  12.900608  77.481984   12000
2      2 Bathrooms       3.0  13.028963  77.683051   16000
3      2 Bathrooms       3.0  12.890710  77.617402   18000
4      3 Bathrooms       3.0  13.085289  77.644601   28000
5      3 Bathrooms       3.0  13.040179  77.566820   80000
6      2 Bathrooms       3.0  13.069759  77.566479   15000
7       1 Bathroom       2.0  12.858029  77.677437    8000
8      2 Bathrooms       3.0  12.784657  77.710555    9500
9       1 Bathroom       1.0  12.897690  77.622105    6300
10     2 Bathrooms       2.0  13.239867  77.710410   12000
11     3 Bathrooms       3.0  12.908801  77.684227   45000
12      1 Bathroom       1.0  12.971600  77.594560  700000
13     2 Bathrooms       3.0  13.050450  77.789100   12500
14      1 Bathroom       1.0  13.072104  77.596766    6500
15      1 Bathroom       2.0  13.030843  77.606307    9000
16     3 Bathrooms       3.0  12.783244  77.660038   15000
17      1 Bathroom       1.0  12.892064  77.618607   11000
18     3 Bathrooms       3.0  12.982867  77.764228   23000
19     2 Bathrooms       3.0  13.080821  77.625382   25000
20     2 Bathrooms       2.0  13.071964  77.535664   12500
21      1 Bathroom       2.0  12.869574  77.639658   10000
22     2 Bathrooms       2.0  13.021147  77.656409   10500
23     3 Bathrooms       3.0  13.054728  77.596454   43000
24     2 Bathrooms       2.0  13.064728  77.609238   20000
25     2 Bathrooms       2.0  12.880623  77.609857   15000
26     2 Bathrooms       2.0  12.992585  77.664835   20000
27     2 Bathrooms       2.0  12.957775  77.672419   43000
28     2 Bathrooms       2.0  13.061874  77.741585   17000
29     2 Bathrooms       2.0  12.993970  77.699384   25000
...            ...       ...        ...        ...     ...
82431   1 Bathroom       1.0  12.985257  77.635068    9000
82432  3 Bathrooms       3.0  12.870011  77.768188   21000
82433  2 Bathrooms       2.0  13.041335  77.612683   15000
82434  2 Bathrooms       2.0  13.071095  77.557884   16000
82435  2 Bathrooms       2.0  13.107644  77.579670   11500
82436   1 Bathroom       1.0  12.890961  77.609935    8000
82437  2 Bathrooms       2.0  13.010845  77.650382   16500
82438  2 Bathrooms       2.0  13.083504  77.542199   12000
82439  3 Bathrooms       3.0  12.913197  77.473633   15000
82440  2 Bathrooms       2.0  13.044183  77.625157   12000
82441   1 Bathroom       1.0  12.958470  77.563480    9000
82442   1 Bathroom       2.0  12.950005  77.545513   10000
82443   1 Bathroom       1.0  12.938296  77.489678    7000
82444  2 Bathrooms       2.0  12.992921  77.668422   19000
82445  2 Bathrooms       2.0  13.013817  77.677467    9000
82446  2 Bathrooms       3.0  12.875319  77.616478   20000
82447  2 Bathrooms       2.0  12.930703  77.602164   15000
82448  2 Bathrooms       2.0  12.861845  77.592044   18000
82449  2 Bathrooms       2.0  12.926012  77.668426   35000
82450  3 Bathrooms       3.0  12.831836  77.688456   20000
82451  2 Bathrooms       2.0  13.032458  77.593720   18000
82452  2 Bathrooms       2.0  12.977436  77.700139   22000
82453  2 Bathrooms       2.0  12.973808  77.694170   16000
82454  2 Bathrooms       2.0  13.028229  77.643937   12000
82455   1 Bathroom       1.0  12.979677  77.679598   10500
82456  3 Bathrooms       3.0  12.994736  77.667278   38000
82457  3 Bathrooms       3.0  12.870893  77.580894   23000
82458  2 Bathrooms       2.0  13.134539  77.480545    7000
82459  2 Bathrooms       2.0  12.727622  77.698796    7250
82460   1 Bathroom       1.0  12.871300  77.616380    5000

[82090 rows x 5 columns]

In [175]:
 df = df.rename(columns={'price': 'cost',
                                  'longitude': 'lng',
                                  'latitude': 'lat',
                                  'bedrooms': 'beds'})

In [176]:
df.head()

     bathrooms  beds        lat        lng   cost
0   1 Bathroom   1.0  12.848714  77.686891   6000
1  2 Bathrooms   2.0  12.900608  77.481984  12000
2  2 Bathrooms   3.0  13.028963  77.683051  16000
3  2 Bathrooms   3.0  12.890710  77.617402  18000
4  3 Bathrooms   3.0  13.085289  77.644601  28000

In [177]:
del df['bathrooms']

In [183]:
df = df.astype(float)

In [181]:
df = df.astype(float)